<div class="flex flex-column p-2">
  <h3>Searcher</h3>

  <mat-form-field>
    <mat-label>Heroes searcher</mat-label>
    <input type="text" matInput [formControl]="searchInput" (input)="searchHero()" [matAutocomplete]="auto">

    <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
      <mat-option [value]="hero" *ngFor="let hero of heroes">{{hero.superhero}}</mat-option>

      <mat-option *ngIf="heroes.length === 0 && searchInput.value && searchInput.value.length > 0" value="">Notthing was found like '{{searchInput.value}}'</mat-option>
    </mat-autocomplete>
  </mat-form-field>

</div>
