<div class="text-layout">
  <h1>Basic pipes</h1>
  <p>
    Pipes included in Angular - Usually in Common Module
  </p>
  <div class="grid">
    <div class="col-4">
      <p-card header="uppercase"
      [subheader]="nameLower | uppercase">
        {{nameLower | uppercase}}
      </p-card>
    </div>
    <div class="col-4">
      <p-card header="lowercase"
      [subheader]="nameUpper | lowercase">
        {{nameUpper | lowercase}}
      </p-card>
    </div>
    <div class="col-4">
      <p-card header="titlecase"
      [subheader]="nameFull | titlecase">
        {{nameFull | titlecase}}
      </p-card>
    </div>
  </div>
</div>
