<h1>Dragon Ball Z</h1>
<br/>

<div class="row">
  <div class="col">
    <h3>Personajes</h3>
    <hr/>
    <ul>
      <li *ngFor="let character of charactersList">{{character.name}} - {{character.power | number}}</li>
    </ul>
  </div>

  <div class="col">
    <h3>Agregar</h3>
    <hr>

    <form (ngSubmit)="add()">
      <input placeholder="Character name" type="text"
        [(ngModel)]="newCharacter.name" name="name"
      />
      <!-- [value]="newCharacter.name" (input)="changeName($event)" -->

      <input placeholder="Character power" type="number"
        [(ngModel)]="newCharacter.power" name="power"/>
      <button>Add</button>
    </form>
  </div>

</div>
