<p-panel header="Custom pipes" class="p-1">
  <p>
    Custom pipes - created by {{'me' | toggleCase:isUpperCase}}
  </p>
</p-panel>

<div class="card">
  <p-toolbar>
    <div class="p-toolbar-group-end">
      <p-button label="ToggleCase" icon="pi pi-search" (onClick)="toggleUpperCase()"></p-button>
    </div>
    <div class="p-toolbar-group-end">
      <p-button label="By name" icon="pi pi-sort" class="mr-1" styleClass="p-button-success" (onClick)="changeSortField('name')"></p-button>
      <p-button label="By fly" icon="pi pi-sort" class="mr-1" styleClass="p-button-danger" (onClick)="changeSortField('canFly')"></p-button>
      <p-button label="By color" icon="pi pi-sort" class="mr-1" styleClass="p-button-help" (onClick)="changeSortField('color')"></p-button>
    </div>
  </p-toolbar>
</div>

<div class="grid">
  <div class="col mt-2">
    <p-panel header="Heroes">
      <p-table [value]="heroes | sortBy: orderField" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Can Fly</th>
                <th>Color</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-hero>
            <tr>
                <td>{{ hero.name }}</td>
                <td>{{ hero.canFly | canFly }}</td>
                <td>{{ hero.color }}</td>
            </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </div>
</div>
