<p-panel header="Nocommons pipes" class="p-1">
  <p>
      Pipes included in Angular
  </p>
</p-panel>

<div class="grid">
  <div class="col-12 md:col-6">
    <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
      <p>Greetings {{gender | i18nSelect:invitationMap}} {{name}}, it is a pleasure invite you to our event.</p>
      <p-button (onClick)="changeClient()" label="Change person"></p-button>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
      <p>Now {{clients.length | i18nPlural: clientsMap}} </p>
      <p-button (onClick)="removeClient()" label="Delete client"></p-button>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="Slice Pipe" [toggleable]="true">
      <b>Original</b>
      <pre>{{clients}}</pre>

      <b>Slice:0:2</b>
      <pre>{{clients|slice:0:2}}</pre>

      <b>Slice:-3:-1</b>
      <pre>{{clients|slice:-3:-1}}</pre>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="KeyValue Pipe" [toggleable]="true">
      <ul>
        <li *ngFor="let keyv of person | keyvalue">
          <b>{{keyv.key | titlecase }}: </b> {{keyv.value}}
        </li>
      </ul>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="JSON Pipe" [toggleable]="true">
      <p>{{person | json}}</p>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="Async Pipe" [toggleable]="true">
      <pre *ngIf="!(myObservableTimer | async)">Resolving observable</pre>
      <pre>{{myObservableTimer | async}}</pre>

      <pre *ngIf="!(promiseValue | async)">Resolving promise</pre>
      <pre>{{promiseValue | async}}</pre>
    </p-fieldset>
  </div>
</div>
