<div class="animate__animated animate__fadeIn animate__faster">
  <h2>By country</h2>
  <hr>

  <div class="row">
    <div class="col">
      <app-country-input
        (onEnter)="search($event)"
        (onDebounce)="onShowSuggestions($event)"
        placeholder="Search a country..."
      ></app-country-input>
    </div>
  </div>

  <ul *ngIf="showSuggestions" class="list-group">
    <li *ngFor="let country of suggestedCountries"
      class="list-group-item list-group-item-action">
      <a [routerLink]="['/country',country.cca2]" class="nav-link">{{country.name.common}}</a>
    </li>

    <li class="list-group-item list-group-item-action">
      <a (click)="searchSuggested(searched)" class="nav-link">Search "{{searched}}"</a>
    </li>
  </ul>

  <hr/>
  <div class="alert alert-danger" *ngIf="thereIsError">
    Nothing was found with the term {{searched}}
  </div>

  <div *ngIf="!thereIsError && countries.length > 0" class="row">
    <div class="col">
      <app-country-table [countries]="countries"></app-country-table>
    </div>
  </div>
</div>
